<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sigwise Event Trigger Platform</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css" />
</head>
<body>
  <header>
    <h1>Sigwise Event Trigger Platform</h1>
  </header>
  <main>
    <section id="create-trigger">
      <h2>Create Trigger</h2>
      <form hx-post="/api/v1/triggers" hx-swap="outerHTML" hx-ext="json-enc" >
        <div>
          <label for="type">Type:</label>
          <select name="type" id="type">
            <option value="scheduled">Scheduled</option>
            <option value="api">API</option>
          </select>
        </div>
        <div>
          <label for="schedule_details">Schedule Details (JSON):</label>
          <input type="text" name="schedule_details" id="schedule_details" placeholder='{"run_at": "2025-02-15T14:00:00"}' required>
        </div>
        <div>
          <label for="api_payload">API Payload (JSON):</label>
          <input type="text" name="api_payload" id="api_payload" placeholder='{"key": "value"}' required>
        </div>
        <div>
          <label for="expires_at">Expires At:</label>
          <input type="text" name="expires_at" id="expires_at" placeholder="YYYY-MM-DDTHH:MM" required>
        </div>
        <div>
          <label for="is_test">Test Trigger:</label>
          <input type="checkbox" name="is_test" id="is_test" value="true">
        </div>
        <button type="submit">Create Trigger</button>
      </form>
    </section>

    <section id="triggers">
      <h2>Triggers</h2>
      <div id="triggers-list" hx-get="/api/v1/triggers/triggers_html" hx-trigger="load, every 30s" hx-swap="outerHTML">
        <p>Loading triggers...</p>
      </div>
    </section>

    <section id="event-logs">
      <h2>Event Logs</h2>
      <div>
        <button type="button"  hx-get="/api/v1/event_logs/event_logs_html?status=active" hx-target="#event-logs-list" hx-swap="outerHTML">Show Active Logs</button>
        <button type="button"  hx-get="/api/v1/event_logs/event_logs_html?status=archived" hx-target="#event-logs-list" hx-swap="outerHTML">Show Archived Logs</button>
        <button type="button"  hx-get="/api/v1/event_logs/event_logs_html?status=all" hx-target="#event-logs-list" hx-swap="outerHTML">Show All Logs</button>
      </div>
      <div id="event-logs-list" hx-get="/api/v1/event_logs/event_logs_html?status=active" hx-swap="outerHTML">
        <p>Loading event logs...</p>
      </div>
    </section>
    <button type="button" hx-get="/test" hx-target="#test-div" hx-swap="outerHTML">Test Request</button>
    <div id="test-div"></div>
  </main>
  <footer>
    <p>&copy; 2025 Sigwise Event Trigger Platform</p>
  </footer>
</body>
</html>
